{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <a class="btn btn-primary" href="/back">Предыдущий месяц</a>
    <a class="btn btn-primary" href="/success">Текущий месяц</a>
    <a class="btn btn-primary" href="/next">Следующий месяц</a>
    {% for item in charges%}
<div class="col-md6 border rounded">
    <div>
        {{item.content}}
    </div>
</div>
{% endfor %}
    <p>
        <a class="btn btn-warning" href="/charges">Добавить</a>
    </p>
</form>
{% endblock %}
